<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Denúncia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Informações
      </ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label color="secondary" position="floating">Seu nome:</ion-label>
      <ion-input type="text" [(ngModel)]="seunome" placeholder="Ex.: Maria das Dores"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" position="floating">Período:</ion-label>

      <ion-datetime display-format="DD MMM YYYY" strin cancelText="Cancelar" doneText="Escolher"
        ([ngModel])="dataDenuncia.toISOString()" placeholder="Seleciona o Dia" (ionChange)="mudaData( $event )">
      </ion-datetime>


      <ion-datetime display-format="HH:mm" strin cancelText="Cancelar" doneText="Escolher" ([ngModel])="horaDenuncia"
        placeholder="Seleciona o Horário" (ionChange)="mudaHora( $event )">
      </ion-datetime>


    </ion-item>


    <ion-item (click)="leafletMap()">
      <ion-label color="secondary" position="floating">Local:</ion-label>
      <ion-input ype="text" [(ngModel)]="localDenuncia" disabled="{{mostraMapa}}"
        placeholder="Ex.: R. Jagandeiros Alagoanos - Ponta Verde"></ion-input>
      <ion-note text-end>
        Marcar no mapa
      </ion-note>
    </ion-item>


    <ion-item>
      <ion-label color="secondary" position="floating">Informe a situação:</ion-label>
      <ion-textarea [(ngModel)]="infoDenuncia" rows="5" cols="30" placeholder="Mensagem"></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="mostraMapa" id="mapId2" style="height: 300px">
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Imagem da Denuncia
      </ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-thumbnail *ngIf="imgAut" slot="start">
        <ion-img [src]=imgAut></ion-img>
      </ion-thumbnail>

      <ion-label>Imagem</ion-label>

      <ion-button *ngIf="!imgAut" slot="end" color="secondary" size="small" (click)="cam()">Adicionar</ion-button>
      <ion-button *ngIf="imgAut" slot="end" color="danger" size="small" (click)="remover()">Remover</ion-button>
    </ion-item>
  </ion-card>

  

  <ion-button (click)="subDenuncia()" expand="block">Enviar Denuncia</ion-button>


</ion-content>