<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="fechar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{local.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="local.foto">

  <ion-card>
    <ion-card-header class="header">
      <ion-card-subtitle class="subtitle">
        Informações da zona
      </ion-card-subtitle>
    </ion-card-header>
    <br>
    <ion-label class="font_1">Ocupantes: {{local.quantidade_ambulantes}}</ion-label>
    <br>
    <ion-label class="font_1">Capacidade: {{local.limite_ambulantes}}</ion-label>
    <ion-card-content>
      {{local.detalhes}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="header">
      <ion-card-subtitle class="subtitle">
        Ambulantes da zona
      </ion-card-subtitle>
    </ion-card-header>

    <div *ngIf="fiscal()">
      <ion-item *ngFor="let pessoa of ambulantes | async" (click)="verMais(pessoa)">
        <ion-avatar slot="start">
          <img src="{{pessoa.foto}}">
        </ion-avatar>
        <ion-label>
          <h3>{{pessoa.nome}}</h3>
          <h4>{{pessoa.produto}}</h4>
        </ion-label>
      </ion-item>
    </div>

    <div *ngIf="!fiscal()">
      <ion-item *ngFor="let pessoa of ambulantes | async">
        <ion-avatar slot="start">
          <img src="{{pessoa.foto}}">
        </ion-avatar>
        <ion-label>
          <h3>{{pessoa.nome}}</h3>
          <h4>{{pessoa.produto}}</h4>
        </ion-label>
      </ion-item>
    </div>
  </ion-card>



</ion-content>