<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="fechar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{local.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>{{local.ocupantes}} / {{local.capacidade}}</p>
  <ion-item *ngFor="let pessoa of ambulantes | async">
    <ion-avatar slot="start">
      <img src="{{pessoa.foto}}">
    </ion-avatar>
    <ion-label>
      <h3>{{pessoa.nome}}</h3>
      <p>{{pessoa.produto}}</p>
    </ion-label>
  </ion-item>

</ion-content>