<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="fechar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{local.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="local.foto">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        {{local.nome}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-label color="medium" position="floating">Endereço</ion-label>
      <p>{{local.detalhes}}</p>
    </ion-item>


    <ion-item>
      <ion-label color="medium" position="floating">Ambulantes alocados</ion-label>
      <p>{{local.ocupantes}}</p>
    </ion-item>

    <ion-item>
      <ion-label color="medium" position="floating">Capacidade</ion-label>
      <p>{{local.capacidade - local.ocupantes}}</p>
    </ion-item>

  </ion-card>
  <p>{{local.ocupantes}} / {{local.capacidade}}</p>
  <ion-item *ngFor="let pessoa of ambulantes | async">
    <ion-avatar slot="start">
      <img src="{{pessoa.foto}}">
    </ion-avatar>
    <ion-label>
      <h3>{{pessoa.nome}}</h3>
      <p>{{pessoa.produto}}</p>
    </ion-label>
  </ion-item>



</ion-content>