<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Cadastrar Ambulante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centro">
    <img *ngIf="imgPessoa" class="conteudo" [src]="imgPessoa" (click)="cam()">
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Informações do ambulante
      </ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-label color="medium" position="floating">Nome:</ion-label>
      <ion-input type="text" [(ngModel)]="nome" placeholder="Ex.: Maria das Dores"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="floating">CPF/CNPJ:</ion-label>
      <ion-input type="text" [(ngModel)]="cpf" placeholder="123.456.789-10" [brmasker]="{person: true}" maxlength="14">
      </ion-input>
    </ion-item>

    <ion-item>

      <ion-label color="medium" position="floating">Escolaridade</ion-label>
      <ion-select [(ngModel)]="escolaridade">
        <ion-select-option value="analfabeto">Sem escolaridade</ion-select-option>
        <ion-select-option value="efi">Fundamental incompleto</ion-select-option>
        <ion-select-option value="efc">Fundamental completo</ion-select-option>
        <ion-select-option value="emi">Médio incompleto</ion-select-option>
        <ion-select-option value="emc">Médio completo</ion-select-option>
        <ion-select-option value="sup">Superior</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="medium" position="floating">Endereço</ion-label>
      <ion-input type="text" [(ngModel)]="endereco" placeholder="Ex.: Rua Domingues 22 - Jaragua"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label color="medium" position="floating">Telefone</ion-label>
      <ion-input type="text" [(ngModel)]="fone" placeholder="(12) 34567-8910" [brmasker]="{phone: true}"></ion-input>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Informações do local de trabalho
      </ion-card-subtitle>
    </ion-card-header>


    <ion-item>
      <ion-label color="medium" position="floating">Produto:</ion-label>
      <ion-input type="text" [(ngModel)]="produto" placeholder="Ex.: Churros"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="medium" position="floating">Região</ion-label>
      <ion-select placeholder="Selecione a zona" [(ngModel)]="regiao">
        <ion-select-option value="a1">Ponto Independente</ion-select-option>
        <ion-select-option *ngFor="let lugar of locais | async" value="{{lugar.nome}}">{{lugar.nome}}
        </ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="medium" position="floating">Ponto de referência:</ion-label>
      <ion-input type="text" [(ngModel)]="pontoRef" placeholder="Ex.: Enfrente à Praça Lions"></ion-input>
    </ion-item>


    <div *ngIf="regiao == 'a1'">
      <ion-item (click)="leafletMap()">
        <ion-label color="medium" position="floating">Local de Atividade:</ion-label>
        <ion-input type="text" [(ngModel)]="localAtiv" disabled="{{mostrarMapa}}"
          placeholder="Ex.: R. Jagandeiros Alagoanos - Ponta Verde">
          <!--Poe isso aqui pra ser aquela coisinha de buscar o endereco -->
        </ion-input>
        <ion-note text-end (click)="leafletMap()">
          Marque no mapa
        </ion-note>
      </ion-item>
    </div>
  </ion-card>

  <ion-card *ngIf="mostrarMapa" id="mapId3" style="height: 300px">
  </ion-card>

  <ion-card *ngIf="cpf">
    <ion-card-header>
      <ion-card-subtitle>qrCode Do Ambulante</ion-card-subtitle>
    </ion-card-header>
    <br>

    <ngx-qrcode class="ion-text-center" qrc-element-type="canvas" [qrc-value]="cpf">
    </ngx-qrcode>

  </ion-card>


  <ion-button expand="block" color="medium" (click)="cadastrar()">
    Cadastrar
  </ion-button>