<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Buscar Pessoa
    </ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</ion-header>

<ion-content>
  <ion-item>
    <ion-label   position="floating">Tipo de Busca</ion-label>
    <ion-select placeholder="Selecione o que esta procurando" [(ngModel)]="tipo">
      <ion-select-option value="cpf">CPF</ion-select-option>
      <ion-select-option value="nome">Nome</ion-select-option>
    </ion-select>
  </ion-item>

    <ion-searchbar placeholder="Procure" [(ngModel)]="filtro" (ionInput)="filtrar($event) ">
    </ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let pessoa of ambulantes" (click)="verMais(pessoa)">
        <ion-avatar slot="start">
          <img src="{{pessoa.foto}}">
        </ion-avatar>
        <ion-label>
          <h3>{{pessoa.nome}}</h3>
          <p>{{pessoa.produto}}</p>
        </ion-label>
      </ion-item>
    </ion-list>


</ion-content>
