<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pesquisar
    </ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</ion-header>

<ion-content>
  <ion-item *ngIf="Fiscal() != false">
    <ion-label position="floating">Tipo de Busca</ion-label>
    <ion-select value="nome" placeholder="Selecione o que esta procurando" 
      [(ngModel)]="tipo">
      <ion-select-option value="zona">Zonas</ion-select-option>
      <ion-select-option value="cpf">CPF</ion-select-option>
      <ion-select-option value="nome">Nome</ion-select-option>

    </ion-select>
  </ion-item>

  <div>
    <ion-searchbar *ngIf="tipo == 'cpf'" placeholder="Digite o CPF" [(ngModel)]="cpf"
      (ionInput)="filtrar($event, tipo)" clearInput [brmasker]="{person: true}" maxlength="14">
    </ion-searchbar>

    <ion-searchbar *ngIf="tipo != 'cpf'" placeholder="Pesquise" [(ngModel)]="busca"
      (ionInput)="filtrar($event, tipo)" clearInput>
    </ion-searchbar>
  </div>


  <div *ngIf="tipo != 'zona'">
    <ion-list>
      <ion-item *ngFor="let pessoa of ambulantes" (click)="modal(pessoa, tipo)">
        <ion-avatar slot="start">
          <img src="{{pessoa.foto}}">
        </ion-avatar>
        <ion-label>
          <h3>{{pessoa.nome}}</h3>
          <p>{{pessoa.produto}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="tipo == 'zona'">

    <ion-list>
      <ion-item *ngFor="let area of zonas " (click)="modal(area, tipo)">
        <ion-avatar slot="start">
          <img src="{{area.foto}}">
        </ion-avatar>
        <ion-label>
          <h3>{{area.nome}}</h3>
          <p>{{area.produto}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>




</ion-content>