<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Buscar
    </ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</ion-header>

<ion-content>
  <ion-item *ngIf="Fiscal() != false">
    <ion-label color="medium" position="floating">Tipo de Busca</ion-label>
    <ion-select placeholder="Selecione o que esta procurando" [(ngModel)]="tipo">
      <ion-select-option value="pessoa">Pessoas</ion-select-option>
      <ion-select-option value="zona">Zonas</ion-select-option>

    </ion-select>
  </ion-item>
  <div *ngIf="tipo == 'pessoa'">
    <ion-searchbar placeholder="Digite o CPF da pessoa procurada" [(ngModel)]="cpf" (ionInput)="filtrarCPF($event) "
      clearInput [brmasker]="{person: true}" maxlength="14">
    </ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let pessoa of ambulantes" (click)="verMais(pessoa)">
        <ion-avatar slot="start">
          <img src="{{pessoa.foto}}">
        </ion-avatar>
        <ion-label>
          <h3>{{pessoa.nome}}</h3>
          <p>{{pessoa.produto}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="tipo == 'zona'">
    <ion-searchbar placeholder="Digite o nome da regiao" [(ngModel)]="regiao" (ionInput)="filtrarNomeRegiao($event)"
      clearInput>
    </ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let area of zonas " (click)="mostraDetalhes(area)">
        <ion-avatar slot="start">
          <img src="{{area.foto}}">
        </ion-avatar>
        <ion-label>
          <h3>{{area.nome}}</h3>
          <p>{{area.produto}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


</ion-content>