ion-card-header {
    --background: #545454;
  }
  
ion-card-header  ion-card-subtitle, ion-card-title {
    --color: white;
  }
  .float_direita{
    float: right;
  }
  .float_esquerda{
    float: left;
  }