<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MEI
    </ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quero me tornar um empreendedor ambulante!</ion-card-title>
    </ion-card-header>


    <ion-card-content class="ion-text-justify">
      Os ambulantes interessados em trabalhar nos espaços públicos de Maceió devem solicitar autorização contactando:
      A Secretaria Municipal de Segurança Comunitária e Convívio Social (Semscs).
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Por quê se cadastrar?</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      O cadastro é um levantamento para quantificar os profissionais da área. Além disso, alavanca quais os produtos que
      são vendidos e organiza o setor de forma eficiente e ordenada, para que todos se beneficiem com o serviço.
    </ion-card-content>

    <ion-card-header>

      <ion-card-title>Vantagens ao se cadastrar</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      Cadastrar-se também possibilita cursos gratuitos e orientações básicas para o bom desempenho da profissão e, além
      da autorização para a comercialização no espaço público de forma adequada, garante obrigatoriedade do ambulante de
      se regularizar e se cadastrar como Microempreendedor Individual (MEI).
      <br>
      Além disso, possibilita amparar as pessoas que estão em situação de vulnerabilidade. Tudo por meio de políticas de
      desenvolvimento para o setor, como a elaboração de curso, e a disponibilização de microcréditos, em parceria com o
      setor privado.
    </ion-card-content>
  </ion-card>

  <ion-card>


    <ion-card-header>
      <ion-card-title>Como funciona</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      Para solicitar a autorização, os interessados deverão comparecer à sede da Semscs, na Rua Alexandre Passos,
      Jaraguá:
    </ion-card-content>
    <img src="../../assets/img/semscs-secretaria-municipal-de-4705-1UYF.jpg">

    <ion-card-header>
      <ion-card-title>Documentos Necessários</ion-card-title>
    </ion-card-header>


    <ion-card-content class="ion-text-justify">
      Levando consigo: cópia e original do RG, CPF, comprovante de residência e duas fotos 3×4. Será emitido um boleto
      relativo a taxa de uso do solo, que varia de acordo com a região que o ambulante pretende atuar.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Horário de Atenção</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      O horário de atendimento é de 8h às 14h, de segunda à sexta-feira.
    </ion-card-content>


  </ion-card>
</ion-content>