<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MicroEmpreendedor Itinerante:
    </ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</ion-header>

<ion-content class="content">

  <h3>
    Quero me tornar um empreendedor ambulante!
  </h3>
    <h6>
        Os ambulantes interessados em trabalhar nos espaços públicos de Maceió devem solicitar autorização contactando:
    </h6>
    <h6>A Secretaria Municipal de Segurança Comunitária e Convívio Social (Semscs).</h6>
    <br>
  <h3>
      Por quê se cadastrar?
  </h3>
        <h6>
            O cadastro é um levantamento para quantificar os profissionais da área.
        </h6>
        <h6>Além disso, alavanca quais os produtos que são vendidos,
          e organiza o setor de forma eficiente e ordenada, para que todos se beneficiem com o serviço.
        </h6>
        <br>
  <h3>
      Como funciona:
  </h3>
  <h6>
      Para solicitar a autorização, os interessados deverão comparecer à sede da Semscs,
      na Rua Alexandre Passos, s/n, Jaraguá:
  </h6>
  <img class="img1" src="../../assets/img/semscs-secretaria-municipal-de-4705-1UYF.jpg">
  <h6>
      Levando consigo: cópia e original do RG, CPF, 
      comprovante de residência e duas fotos 3×4. Será emitido um boleto relativo a taxa de uso do solo, 
      que varia de acordo com a região que o ambulante pretende atuar.
  </h6>

  <h6>
      O horário de atendimento é de 8h às 14h, de segunda à sexta-feira.
  </h6>
  <br>
  <h3>
      Vantagens ao se cadastrar:
  </h3>
        <h6>
          Cadastrar-se também possibilita cursos gratuitos e orientações básicas para o bom desempenho da profissão e,
           além da autorização para a comercialização no espaço público de forma adequada, 
          garante obrigatoriedade do ambulante de se regularizar e se cadastrar como Microempreendedor Individual (MEI).
        </h6>
        <h6>
          Além disso, possibilita amparar as pessoas que estão em situação de vulnerabilidade.
        </h6>
        <h6>
            Tudo por meio de políticas de desenvolvimento para o setor, como a elaboração de curso, 
            e a disponibilização de microcréditos, em parceria com o setor privado.
        </h6>
        <br><br>
</ion-content>