<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="returnHome()">
      	<ion-icon name="return-left"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div id="container">
		<img id="logo" src="../assets/img/orditi-logo.png">
		<div id="inputLogin">
			<ion-input type="text" placeholder="Matricula"></ion-input>
			<ion-input type="password" placeholder="Senha"></ion-input>
		</div>
		<br>
		<ion-button>Login</ion-button>
	</div>
</ion-content>
