<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div id="container">
		<img id="logo" src="../assets/img/orditi-logo.png">
		<div id="inputLogin">
			<ion-input type="text" [(ngModel)]="matricula" placeholder="Matricula"></ion-input>
			<ion-input type="password" [(ngModel)]="senha" placeholder="Senha"></ion-input>
		</div>
		<br>
		<ion-button (click)="fazerLogin()">Login</ion-button>
		<ion-button color="danger" (click)="returnHome()">Eita, sou não!
		</ion-button>
	</div>
</ion-content>