<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centro">
    <img class="conteudo" [src]="ambulante['foto']" (click)="cam()">

  </div>

  <ion-card *ngIf="mostrarMapa" id="mapId3" style="height: 300px"></ion-card>

  <ion-card>
    <ion-card-header (click)="mostrarTrabalho()">
      <ion-card-subtitle>
        Informações do local de trabalho
      </ion-card-subtitle>
    </ion-card-header>
    <div *ngIf="trabalho">
      <ion-item>
        <ion-label position="floating">Produto:</ion-label>
        <p>{{ambulante.produto}}</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descrição:</ion-label>
        <p>{{ambulante.relato_atividade}}</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Area do Equipamento:</ion-label>
        <p>{{ambulante.area_equipamento}}</p>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo do Equipamento:</ion-label>
        <p>pppp</p>
      </ion-item>

      <ion-item *ngIf="ambulante.regiao != '0'">
        <ion-label position="floating">Região:</ion-label>
        <p>{{ambulante.regiao}}</p>
      </ion-item>
      <ion-item *ngIf="ambulante.ponto_referencia!='NULL'">
        <ion-label position="floating">Ponto de Referencia:</ion-label>
        <p>{{ambulante.ponto_referencia}}</p>
      </ion-item>

      <ion-item *ngIf="ambulante.end_local">
        <ion-label position="floating">Local de Atividade:</ion-label>
        <p>{{ambulante.end_local}}</p>
      </ion-item>

      <ion-item *ngIf="ambulante.atendimento_dias">
        <ion-label position="floating">Dias de trabalho:</ion-label>
        <p>{{ambulante.atendimento_dias}}</p>
      </ion-item>

      <img class="abaixo" [src]="ambulante['foto_equipamento']">
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="mostrarInfor()">
      <ion-card-subtitle>
        Informações do ambulante
      </ion-card-subtitle>
    </ion-card-header>

    <div *ngIf="informacoes">
      <ion-item>
        <ion-label position="floating">Nome:</ion-label>
        <br>
        <p>{{ambulante.nome}}</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF/CNPJ:</ion-label>
        <br>
        <p>{{ambulante.identidade}}</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Escolaridade:</ion-label>
        <br>
        <p>{{ambulante.escolaridade}}</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Endereço:</ion-label>
        <br>
        <p>{{ambulante.endereco}}</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone:</ion-label>
        <br>
        <p>{{ambulante.fone}}</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone:</ion-label>
        <br>
        <p>{{ambulante.email}}</p>
      </ion-item>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="mostrarNotificacoes()">
      <ion-card-subtitle>
        Histórico de ocorrências
      </ion-card-subtitle>
    </ion-card-header>
    <div *ngIf="historico">
      <ion-item *ngFor="let ocorrencia of historicoLista">
        <ion-label>
          <h3>{{ocorrencia.descricao}}</h3>
          <p>Dia: {{ocorrencia.data_notificacao}}</p>
        </ion-label>
      </ion-item>
    </div>
    <ion-button (click)="notificar()" expand="block">Registrar Ocorrência</ion-button>
  </ion-card>





</ion-content>