<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centro">
    <img class="conteudo" [src]="ambulante['foto']" (click)="cam()">

  </div>



  <ion-card>
    <ion-card-header >
      <ion-card-subtitle>
        Informações do local de trabalho
      </ion-card-subtitle>
    </ion-card-header>
    <div >
      <ion-list>
        <ion-item >
          <ion-label>
            <p class="label-color">Produto:</p>
            <h2 class="input-color" *ngFor="let num of ambulante.produto.split(',')">{{produtos[num]}}</h2>

          </ion-label>
        </ion-item>



        <ion-item>
          <ion-label>
            <p class="label-color">Area do Equipamento:</p>
            <h2 class="input-color">{{ambulante.area_equipamento}}</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <p class="label-color">Tipo do Equipamento</p>
            <h2 class="input-color">{{ambulante.tipo_equipamento}}</h2>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="ambulante.regiao != '0'">
          <ion-label>
            <p class="label-color">Região</p>
            <h2 class="input-color">{{ambulante.regiao}}</h2>
          </ion-label>
        </ion-item>


        <ion-item *ngIf="ambulante.ponto_referencia !=''">
          <ion-label>
            <p class="label-color">Ponto de Referencia:</p>
            <h2 class="input-color">{{ambulante.ponto_referencia}}</h2>
          </ion-label>
        </ion-item>



        <ion-item>
          <ion-label>
            <p class="label-color">Dias de Trabalho:</p>
            <h2 class="input-color" *ngFor="let num of ambulante.atendimento_dias.split(',')">{{dias[num]}}</h2>

          </ion-label>
        </ion-item>

        <ion-item *ngIf="produto == 14">
          <ion-label>
            <p class="label-color">Descrição</p>
            <h2 class="input-color">{{ambulante.relato_atividade}}</h2>
          </ion-label>
        </ion-item>


        <ion-item *ngIf="ambulante.end_local">
          <ion-label>
            <p class="label-color">Local de Atividade:</p>
            <div id="mapId" style="height: 300px"></div>
          </ion-label>

        </ion-item>
      </ion-list>


    </div>
  </ion-card>





  <ion-card>
    <ion-card-header (click)="mostrarInfor()">
      <ion-card-subtitle>
        Informações do ambulante
      </ion-card-subtitle>
    </ion-card-header>

    <div *ngIf="informacoes">

      <ion-list>

        <ion-item>
          <ion-label>
            <p class="label-color">Nome:</p>
            <h2 class="input-color">{{ambulante.nome}}</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <p class="label-color">Nome Materno:</p>
            <h2 class="input-color">{{ambulante.nome_materno}}</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <p class="label-color">CPF/CNPJ:</p>
            <h2 class="input-color">{{ambulante.identidade}}</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <p class="label-color">RG:</p>
            <h2 class="input-color">{{ambulante.rg}}</h2>
          </ion-label>
        </ion-item>



        <ion-item>
          <ion-label>
            <p class="label-color">Endereço:</p>
            <h2 class="input-color">{{ambulante.endereco}}</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <p class="label-color">Telefone:</p>
            <h2 class="input-color">{{ambulante.fone}}</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <p class="label-color">Email:</p>
            <h2 class="input-color">{{ambulante.email}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>

    </div>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="mostrarNotificacoes()">
      <ion-card-subtitle>
        Histórico de ocorrências
      </ion-card-subtitle>
    </ion-card-header>
    <div *ngIf="historico">
      <ion-item *ngFor="let ocorrencia of historicoLista">
        <ion-label>
          <h2 class="input-color" class="label-color">{{ocorrencia.titulo}}</h2>
          <h4>{{ocorrencia.descricao}}</h4>
          <p>Dia: {{ocorrencia.data_notificacao}}</p>
        </ion-label>
      </ion-item>

    </div>

  </ion-card>

  <ion-button (click)="notificar()" expand="block">Notificar</ion-button>




</ion-content>