<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Autuação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="imgAut" (click)="cam()" *ngIf="imgAut">

  <!-- <img [src]="imagemPath"> -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Informações
      </ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label color="medium" position="floating">Período:</ion-label>

      <ion-datetime display-format="DD MMM YYYY" strin cancelText="Cancelar" doneText="Escolher"
        ([ngModel])="dataAut" placeholder="Seleciona a Dia" (ionChange)="mudaData( $event )">
      </ion-datetime>

      <ion-datetime display-format="HH:mm" strin cancelText="Cancelar" doneText="Escolher" ([ngModel])="horaAut"
        value="horaAut" placeholder="Seleciona o Horário" (ionChange)="mudaHora( $event )">
      </ion-datetime>
    </ion-item>

    
    <ion-item>
      <ion-label color="medium" position="floating">Local:</ion-label>
      <ion-input type="text" [(ngModel)]="localAut" placeholder="Ex.: R. Jagandeiros Alagoanos - Ponta Verde">
      </ion-input>

      <ion-note text-end (click)="selectMap()">
        Marcar no mapa
      </ion-note>

    </ion-item>


    <ion-item>
      <ion-label color="medium" position="floating">Informe a situação:</ion-label>
      <ion-textarea [(ngModel)]="infoAut" rows="5" cols="30" placeholder="Mensagem"></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-button (click)="subAut()" expand="block" color="medium">Enviar Autuação</ion-button>



</ion-content>