<ion-header>
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button (click)="dismiss()">
			  <ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		  </ion-buttons>
		  <ion-title>Perfil</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div id="mapId" style="width: 100%; height: 100%"></div>
	<ion-fab (click)="confirmar()" vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon name="checkmark"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<!-- <ion-button expand="block" color="medium" (click)="pesquisarMapa()">Pesquisar Local</ion-button> -->
</ion-content>