.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#logo{
	width: 45%;
}

ion-toolbar ion-title{
	position: relative;
	text-align: center;
	right: 8%;
}

.modalIncompleto{
	background: rgba(0, 0, 0, 0.5) !important;
    padding: 20% 10%  !important;
}

.cardZona{
	background-color: aliceblue;
	opacity: 85%;
}