<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img id="logo" src="../assets/img/orditi-logo.png">
    </ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</ion-header>

<ion-content>
  <div id="mapId" style="width: 100%; height: 100%">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="localAtual()">
              <ion-icon name="locate"></ion-icon>
        </ion-fab>
  </div>
</ion-content>