<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img id="logo" src="../assets/img/orditi-logo.png">
    </ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</ion-header>

<ion-content>
  <div id="mapId" style="width: 100%; height: 100%">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="localAtual()" style="margin-bottom: 5%;">
      <ion-button style="border-radius: 0px; width: 89%;">
      <ion-icon name="locate" style="font-size:x-large;"></ion-icon>
      </ion-button>
    </ion-fab>
  </div>

  <ion-fab *ngIf="Fiscal()" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="zona != null" vertical="bottom">
    <ion-card class="cardZona">
      <ion-card-header>
        <ion-buttons style="float: right;">
          <!--não esta pegando o fecharCard()!-->
          
          <ion-button (click)="fecharCard()">
            <ion-icon style="float: right;" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-card-title>{{zona.nome}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>Capacidade: {{zona.capacidade}}</ion-card-subtitle>
        {{zona.detalhes}} Atualmente contem {{zona.ocupantes}} ambulantes alocados.
        <br>
        <ion-button style="float: left;" fill="outline" (click)="mostraDetalhes()">
          Mais informações
        </ion-button>
      </ion-card-content>
      <br><br><br>
    </ion-card>
  </ion-fab>

</ion-content>