<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img id="logo" src="../assets/img/orditi-logo.png">
    </ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</ion-header>

<ion-content>
  <div id="mapId" class="tamanho_mapa">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="localAtual()" class="btn_gps">
      <ion-fab-button size="small">
        <ion-icon name="locate" class="icon_gps"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ion-fab (click)='LeerCode()' *ngIf="Fiscal()" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="zona != null" vertical="bottom">
    <ion-card class="cardZona">
      <ion-card-header>
        <ion-buttons class="float_direita" (click)="fecharCard()">
          <ion-button (click)="fecharCard()">
            <ion-icon (click)="fecharCard()" class="float_direita" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-card-title>{{zona.nome}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>Capacidade: {{zona.limite_ambulantes}}</ion-card-subtitle>

        {{zona.detalhes}} <br> Atualmente contem: {{zona.quantidade_ambulantes}} ambulantes alocados.
        <br>
        <ion-button class="float_esquerda" fill="outline" (click)="mostraDetalhes()">
          Mais informações
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-fab>

</ion-content>